#menuBar {
	list-style:none;
	margin:0;
	padding:0;
	font-size:1.3vw;
	width:75vw;
	text-align:center;
}
#menuBar li {
	display:inline-block;
}
#menuBar li div {
	border:1px solid black;
	padding:1vw;
	margin:1vw;
	width:10vw;
}
#menuBar li div:hover {
	background-color:rgb(60,60,120);
	color:white;
	cursor:pointer;
}

#sliderContainer {
	width:20vw;
	display:inline-block;
	position:absolute;
	top:0;
	left:80vw;
	padding:1vw;
}

#otherButtonsContainer {
	position:absolute;
	top:50%;
	transform:translate(0,-50%);
}
#otherButtonsContainer div {
	display:inline-block;
	padding:10px;
	margin:10px;
	border:solid 1px black;
}
#otherButtonsContainer div:hover {
	background-color:rgb(60,60,120);
	color:white;
	cursor:pointer;
}

#barContainer {
	width:75%;
	height:60%;
	position:absolute;
	bottom:10%;
	left:50%;
	transform: translate(-50%,0);
}
#barContainer div {
	display:inline-block;
	text-align:center;
	border:1px solid white;
	position:absolute;
	bottom:0;
	color:white;
}