#menuBar, #sampleBar {
	list-style:none;
	margin:0;
	padding:0;
	font-size:1.3vw;
	width:75vw;
	text-align:center;
}
#sampleBar {
	position:absolute;
	top:6vw;
	font-size:1.1vw;
	width:75vw;
}
#menuBar li {
	display:inline-block;
}
#sampleBar li {
	display:inline-block;
}
#menuBar li div {
	border:1px solid black;
	padding:1vw;
	margin:1vw;
	width:10vw;
}
#sampleBar li div {
	border:1px solid black;
	padding:0.5vw;
	margin-left:3vw;
	margin-right:3vw;
	width:7vw;
}
#menuBar li div:hover {
	background-color:rgb(60,60,120);
	color:white;
	cursor:pointer;
}
#sampleBar li div:hover {
	background-color:rgb(60,60,120);
	color:white;
	cursor:pointer;
}

#sliderContainer {
	margin-top:1%;
	width:10vw;
	display:inline-block;
	position:absolute;
	top:0;
	left:77vw;
	padding:1vw;
	border:1px solid;
}

#otherButtonsContainer {
	position:absolute;
	top:0;
	right:0;
	width:10vw;
}
#otherButtonsContainer div {
	display:inline-block;
	padding:10px;
	margin:3%;
	border:solid 1px black;
}
#otherButtonsContainer div:hover {
	background-color:rgb(60,60,120);
	color:white;
	cursor:pointer;
}

#barContainer {
	position:absolute;
	bottom:10%;
	left:30%;
	transform: translate(-50%,0);
}
#chart {
	position:absolute;
	right:10px;
	top:60%;
	transform: translate(0,-50%);
	padding:10px;
	border:1px solid;
}
#legend {
	position:absolute;
	top:60%;
	left:57%;
	transform: translate(0,-50%);
	display:inline-block;
	border: 1px solid;
}
#legendContainer #sampleButton,#resetButton {
	position:absolute;
	left:57%;
	transform: translate(0,-50%);
	padding:10px;
	border:1px solid;
}
#legendContainer #sampleButton {
	top:75%;
}
#legendContainer #resetButton {
	top:85%;
}
#legendContainer div:hover {
	background-color:rgb(60,60,120);
	color:white;
	cursor:pointer;
}
