#menuBar {
	list-style:none;
}

#otherButtonsContainer {

}

#barContainer {
	width:75%;
	height:60%;
	position:absolute;
	bottom:10%;
	left:50%;
	transform: translate(-50%,0);
}
#barContainer div {
	display:inline-block;
	text-align:center;
	border:1px solid white;
	position:absolute;
	bottom:0;
	color:white;
}